@import "../import/bootstrap/bootstrap";

header{
  >div{
    width: 100% !important;
    box-shadow: 0 2px 2px #555;
    position: relative;
  }
  background: #111;
  width: 100%;
  position: fixed;
  z-index: 5;
  .hLine(60px);
  >section,div{
    display: inline-block;
  }
  h4{
    display: inline-block;
    height: 60px;
    width: 100px;
    margin: 0;
    img{
      height: 60px;
      width: 100px;
    }
  }
  p{
    font-family:'minijiankatong1e5f0460c4daf';
    display: inline-block;
    color: #cccccc;
    text-indent: 10px;
    margin: 0;
    vertical-align: middle;
    height: 38px;
  }
  >section:first-child{
    float: right;
    padding: 15px;
    line-height: 0;
    a{
      display: inline-block;
      .rounded(5px);
      padding: 15px 40px;
      &:first-child{
        background-color: #21759B;
        background-image: linear-gradient(to bottom, #2A95C5, #21759B);
        border-color: #21759B #21759B #1E6A8D;
        box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset;
        color: #FFFFFF;
        text-decoration: none;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      }
      &:last-child{
        background-color: #6b6b6b;
        background-image: linear-gradient(to bottom, #2a2a2a, #6b6b6b);
        border-color: #6b6b6b #6b6b6b #555555;
        box-shadow: 0 1px 0 rgba(85, 85, 85, 0.5) inset;
        color: #FFFFFF;
        text-decoration: none;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      }
    }
    a+a{
      margin-left: 10px;
    }
  }
  .dropdown-container{
    float: right;
    position: relative;
    .account {
      padding: 15px;
      line-height: 0;
      cursor: pointer;
      >em{
        color: #ffffff;
        font-style: normal;
      }
      >span{
        >b{
          color: #ffffff;
        }
        position: relative;
        height: 30px;
        line-height: 30px;
        color: #818181;
        i:before {
          margin-left: 2px;
          color: #fff;
        }
        &:active,
        &:hover,
        &:focus{
          color: #5dbcff;
        }
      }
    }
    .dropdown-info{
      display: none;
      float: right;
      width: 100px;
      position: absolute;
      z-index: 99;
      top: 60px;
      left: 15px;
      overflow: hidden;
      box-shadow: 0 3px 5px 1px #818181;
      background: #ffffff;
      line-height: 0;
      >li{
        width: 100%;
        height: 25px;
        line-height: 25px;
        text-align: right;
        >a{
          color: #333;
        }
      }
    }
  }
}
//下拉城市导航
.city-group-wrap{
  width: 600px;
  padding: 20px 0;
  .city-group{
    margin: 0;
    width: 100%;
    padding: 0;
    height: 100%;
    overflow-y: auto;
    .city-group-item{
      list-style: none;
      line-height: 2em;
      .city-group-inline{
        padding: 0;
        margin: 0;
        >li{
          width: 14%;
          float: left;
        }
        .city-group-item-title{
          font-size: 1.2em;
          text-align: center;
        }
        .city-in-group:nth-child(8),.city-in-group:nth-child(14),.city-in-group:nth-child(20),.city-in-group:nth-child(26){
          margin-left:14%;
        }
      }
    }
  }
}
//登陆注册session
.toggle-display{
  display: none;
}